USE [master]
GO
/****** Object:  Database [IceCreamShop]    Script Date: 23/12/2022 22:56:09 ******/
CREATE DATABASE [IceCreamShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IceCreamShop', FILENAME = N'M:\TotFelu\SQL_MicrosoftServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\IceCreamShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IceCreamShop_log', FILENAME = N'M:\TotFelu\SQL_MicrosoftServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\IceCreamShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IceCreamShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IceCreamShop]
GO
/****** Object:  Table [dbo].[icecream]    Script Date: 23/12/2022 22:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[icecream](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [text] NULL,
	[price] [int] NULL,
	[special_flavor] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[icecream] ADD  DEFAULT ('usual') FOR [special_flavor]
GO
USE [master]
GO
